<!-- page content-->
<div id="page-content" class="cf">

	<!-- entry-content -->
	<div class="entry-content cf">

		<!-- 2 cols -->
		<div class="">
			<h4 class="heading">Provozní řád</h4>
        <li>Každý zákazník je povinen se po vstupu do provozovny řídit provozním řádem a obecnými pravidly dobrého chování.</li>
        <li>Provozovatel si vyhrazuje právo na vykázání zákazníka z provozovny v případě, že hrubě porušil pravidla vyplívající z provozního řádu a již má řádně zaplaceno.</li>
        <li>Provozovatel si dále vyhrazuje právo na zákaz vstupu konfliktním zákazníkům a v případném nedodržení zákazu na zavolání státního orgánu (tj. Policie ČR).</li>
        <li>Provozovatel si vyhrazuje právo na úhradu škody drobného majetku jednotnou sazbou 50Kč/ks (sklo, popelníky) a na úhradu škody při závažnějším poškození jakéhokoli jiného majetku a to v plné výši.</li>
        <li>Dále si vyhrazujeme právo na nevpuštění nevhodného zákazníka do provozovny (špinavý oděv, zápach) či zákazníka pod vlivem alkoholu, drog či jiných návikových látek.</li>
        <li>Zákaz vnášení jakéhokoli nevhodného vybavení a jeho používání v provozovné (pyrotechnika, bodné zbraně, atd.)</li>
        <li>Přísný zákaz vnášení jakýchkoli zbraní do provozovny (v opačném případě okamžité zavolání Policie ČR).</li>
        <li>Zákaz vnášení a následné konzumace jakýchkoli nápojů do provozovny, pokud se jedná o jídlo, pouze po dohodě s majitelem a v případě, že tento typ občerstvení provozovna nenabízí.</li>
        <li>Zákazník se vstupem do provozovny souhlasí s pořizováním fotografií provozovatelem v prostorách provozovny a jejich případném uveřejnění na webových či jiných stránkách sloužících pro propagaci provozovny.</li>
        <li>Zákazník si po celou dobu navštěvy provozovny ručí za své věci a za jejich případnou ztrátu.</li>
        <li>Zákaz vynášení skla a jakéhokoli jiného majetku podniku.</li>
        <li>Zákaz prodeje alkoholu a tabákových výrobků osobám mladším 18-ti let.</li>
        <li>Provozovatel si dále vyhrazuje právo na omezení vstupu osobám mladším 18-ti let v případě některých akcí pořádaných v provozovně.</li>
        <li>Provozovatel si vyhrazuje právo na jakékoli změny provozního řádu.</li>
    </div>
	</div>

	<div class="clearfix"></div>
					<!-- ENDS last cols -->

	</div>
				<!-- ENDS entry-content -->
    		</div>
    		<!-- ENDS page content-->
