<!-- FOOTER -->
		<footer>
			<div class="wrapper cf">

      	<!-- widgets -->
				<ul  class="widget-cols cf">
  				<li class="first-col">
  					<div class="widget-block">
              <h4>CITÁT</h4>
              <p>Skutečně civilizovaní lidé směřují jen tam, kde se podává kvalitní alkohol.</p>
  					</div>
  				</li>

  				<li class="second-col">
  						<div class="widget-block">
  							<div id="tweets" class="footer-col tweet">
  		         		<h4>FACEBOOK</h4>

                     <!-- Facebook like box -->
                    <div id="fb-root"></div>
                    <script>(function(d, s, id) {
                      var js, fjs = d.getElementsByTagName(s)[0];
                      if (d.getElementById(id)) return;
                      js = d.createElement(s); js.id = id;
                      js.src = "//connect.facebook.net/cs_CZ/sdk.js#xfbml=1&version=v2.0";
                      fjs.parentNode.insertBefore(js, fjs);
                    }(document, 'script', 'facebook-jssdk'));</script>

                    <div class="fb-like-box" data-href="https://www.facebook.com/daiquirikladno" data-width="700" data-height="180" data-colorscheme="dark" data-show-faces="true" data-header="false" data-stream="false" data-show-border="false"></div>
            		    <!-- konec facebook like box -->

                </div>
  		        </div>
  		    </li>
		    </ul>
				<!-- ENDS widgets -->

				<!-- bottom -->
				<div class="footer-bottom">
					<div class="left">DaiQuiri Kladno - café & cocktail bar<br>&#169; Copyright 2013-2014.<br>Všechna práva vyhrazena.<br>
            <!-- TODO administrace link -->

          </div>
          <ul id="social-bar" class="cf sb">
						<li><a href="https://www.facebook.com/daiquirikladno"  title="Staň se fanouškem" class="facebook">Facebook</a></li>
						<li><a href="https://plus.google.com/101833625266852532271/about?hl=cs&gl=cz" title="Přidej si nás do kruhů" class="plus"></a></li>
					</ul>
				</div>
				<!-- ENDS bottom -->

			</div>
		</footer>
<!-- ENDS FOOTER -->
